.dropdown_content {
    width: 100%;
    margin: 0 auto;
}

.dropdown {
    margin: 30px auto;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 480px) {
        margin: 10px auto;
        width: 335px;
    }
}


.dropdown img {
    height: 14px;
    padding: 3px;
}



.dropdown--head {
    background-color: #ff6060;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    box-sizing: border-box;

}

.content_text_none {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: 0.5s;
    transform-origin: top;
    background-color: #fbfbfb;
}

.content_text {
    max-height: 100px;
    padding: 20px;
    transition: 0.5s;
    transform-origin: top;
    background-color: #fbfbfb;
    border-radius: 3px;
}

.dropdown--arrow--open {
    transform: rotate(-180deg);
    transition: 0.5s;
}

.dropdown--arrow--close {
    transform: rotate(0deg);
    transition: 0.5s;
}

.equipements_content {
    list-style-type: none;
    margin: 4px;
    padding: 0;
    width: 100%;
}