.logement {
    padding: 0 70px;
}

.location {
    display: flex;
    justify-content: space-between;
}

.host_and_rating {
    display: flex;
    gap: 3px;
    padding-top: 20px;
    flex-direction: column;
}

.host_content {
    display: flex;
    align-items: center;

}

.host_content img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin-left: 10px;
}

.host_name {
    color: #ff6060;
}

.location h3 {
    color: #ff6060;
    margin-bottom: 4px;
    font-size: 28px;
}

.title_and_tags {
    display: flex;
    flex-direction: column;
}

.location_place {
    margin-top: 0;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    background-color: #ff6060;
    border-radius: 15px;
    margin: 10px 0;
    padding: 5px 20px;
    color: white;
}

.collapse {
    display: flex;
    justify-content: space-between;
}

.logement-collapse {
    width: 50%;
    padding: 10px;
}

.rating {
    display: flex;
    gap: 5px;
    margin: 10px;
    align-items: center;
}

.rate {
    color: grey;
}

.active-rate {
    color: #ff6060;
}

.tags_rating {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .logement {
        padding: 0 10px;
        width: 100%;
    }

    .location {
        flex-direction: column;
    }


    .collapse {
        flex-direction: column;
    }

    .logement-collapse {
        width: 100%;
        padding: 0;
    }

    .host_and_rating {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .location h3 {
        font-size: 30px;
    }

    .location_title {
        font-size: 19px;
    }
}