.logements_list {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 38px;
    padding: 39px;
}

@media (max-width: 768px) {
    .logements_list {

        margin: 0;
        padding: 10px;
        border-radius: 0;
    }
}